# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
.idea
src/Acme_Compass_Demo_Guide.pdf
src/screencapture-team1-thoughtspot-cloud-2026-07-11-16_43_08.pdf
src/ThoughtSpot_Embedded_Data_Challenge (1).pdf
prompt_prep_interview_txt.txt
src/business value drivers.txt
